<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        <div class="workout-form-group">
  <%= simple_form_for (@workout) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="field">
      <div class="control">
        <%= f.input :name, placeholder:"Workout Name", required: true, autofocus: true, input_html: { class: "input is-rounded"}, wrapper: false, label_html: { class: "label" } %>
      </div>
    </div>

     <div class="field">
      <div class="control">
        <%= f.input :date, as: :date, required: true, wrapper: false, autofocus: true, input_html: { class: "input is-rounded"}, label_html: { class: "label" } %>
      </div>
    </div>


    <div class="field">
    <div class="control">
      <%= f.input :duration, placeholder:"Length of Workout", required: true, autofocus: true, input_html: { class: "input is-rounded"}, wrapper: false, label_html: { class: "label" } %>
    </div>
  </div>

   <div class="field">
    <div class="control">
      <%= f.input :notes, placeholder:"Notes", required: true, autofocus: true, input_html: { class: "input is-rounded"}, wrapper: false, label_html: { class: "label" } %>
    </div>
  </div>
</div>

  <br>
  <h3 class="container"><strong>EXERCISES</strong></h3>

  <%= f.fields_for :worksets do |w| %>
    <%= w.fields_for :exercise do |exercise_form| %>
      <%= render 'exercise_fields', f: exercise_form %>
    <% end %>
    <%= w.input :sets, placeholder:"Sets",  required: true, autofocus: true, input_html: { class: "input is-rounded"}, wrapper: false, label_html: { class: "label" } %>
    <%= w.input :reps, placeholder:"Reps",  required: true, autofocus: true, input_html: { class: "input is-rounded"}, wrapper: false, label_html: { class: "label" } %>
    <%= w.input :weight, placeholder:"Weight",  required: true, autofocus: true, input_html: { class: "input is-rounded"}, wrapper: false, label_html: { class: "label" } %>

  <% end %>

  <br></br>
  <%=  f.button :submit, "Submit", class:"button is-dark is-rounded" %>

<% end %>
