<section class="section">
  <div class="container">
    <div class="columns is-left">
      <div class="column is-4">
        <div class="workout-form-group">
  <%= simple_form_for (@workout) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="field">
      <div class="control">
      
        <%= f.input :name, placeholder:"Workout Name", required: true, autofocus: true, input_html: { class: "input is-rounded"}, wrapper: false %>
      </div>
    </div>

     <div class="field">
      <div class="control">
      
        <%= f.input :date, as: :date, required: true, wrapper: false, autofocus: true, input_html: { class: "input is-rounded"}%>
      </div>
    </div>


    <div class="field">
    <div class="control">
    
      <%= f.input :duration, placeholder:"Length of Workout", required: true, autofocus: true, input_html: { class: "input is-rounded"}, wrapper: false%>
    </div>
  </div>

   <div class="field">
    <div class="control">
    
      <%= f.input :notes, placeholder:"Notes", required: true, autofocus: true, input_html: { class: "input is-rounded"}, wrapper: false%>
    </div>
  </div>


  <br>
  <h3 class="container"><strong>EXERCISES</strong></h3>
  
  <%= f.fields_for :worksets do |w| %>
    <%= w.fields_for :exercise do |exercise_form| %>
     <div class="field">
    <div class="control">
      <%= render 'exercise_fields', f: exercise_form %>
    <% end %>
    </div>
    </div>
     <div class="field">
    <div class="control">
    <%= w.input :sets, placeholder:"Sets",  required: true, autofocus: true, input_html: { class: "input is-rounded"}, wrapper: false %>
    </div>
</div>
<div class="field">
    <div class="control">
    <%= w.input :reps, placeholder:"Reps",  required: true, autofocus: true, input_html: { class: "input is-rounded"}, wrapper: false %>
       </div>
   </div>
    <div class="field">
    <div class="control">
    <%= w.input :weight, placeholder:"Weight",  required: true, autofocus: true, input_html: { class: "input is-rounded"}, wrapper: false %>
       </div>
   </div>
  <% end %>

  <br></br>
  <%=  f.button :submit, "Submit", class:"button is-light is-rounded" %>

<% end %>
</div>
</section>