<% content_for :header do %>
<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h3 class="title">
        WORKOUT LOGS
      </h3>
      <h4 class="subtitle">
        Total Workouts Completed by: <%=current_user.username%>
        </h4>
    </div>
  </div>
</section>
<% end %>


<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">



        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th style="text-align: left">WORKOUTS</th>
            </tr>
          </thead>
          <tbody>
            <% current_user.workouts.each do |workout| %>
            <tr>
              <td ><strong style="font-size: 20px"><%= link_to workout.name, workout, class:"special-links" %></strong><br>
               <%= workout.date.strftime('%A, %B, %d')%></td>
              </tr>  
              <tr>
              <td><strong>Time:</strong> <%=workout.duration%> | <strong>Notes:</strong> <%=workout.notes%></td>
              </tr>
              <tr>
              <td><%= link_to "Show Workout Details", workout, class: "details"%>

              <% end %>

            
          </tbody>
        </table>

      </div>
    </div>
  </div>
