<% content_for :header do %>
<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h3 class="title">
        <%= @workout.name %>
      </h3>
      <h4 class="subtitle">
        <%= @workout.date.strftime('%A, %B, %d')%>
        </h4>
    </div>
  </div>
</section>
<% end %>
<br>

      <h3><strong> DURATION:</strong> <%= @workout.duration %></h3>
        <h3><strong> NOTES: </strong><%= @workout.notes%></h3>
<br>

    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th style="text-align: center">Exercise</th>
          <th style="text-align: center">Sets</th>
          <th style="text-align: center">Reps</th>
          <th style="text-align: center">Weight(lbs)</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td style="text-align: center"><%= @workset.exercise.name %></td>

          <td style="text-align: center"><%= @workset.sets %></td>
          <td style="text-align: center"><%= @workset.reps %></td>
          <td style="text-align: center"><%= @workset.weight %></td>



        </tr>
      </tbody>
    </table>



      <div class="btn-group">
        <%= link_to "Full Workout", workout_worksets_path(@workout), class:"button is-dark is-rounded" %>

      </div>

  </div>
</div>
