

<% if exercise.errors.any?  %>
	  <div class="alert">
	    <h5>There were some errors:</h5>
	    <ul>
	      <% exercise.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	    </ul>
	  </div>
	<% end %>

	<br>
<%= form_for(exercise) do |f| %>

		<div class="form-group <%= 'alert' if flash[:message] || exercise.errors[:name].any? %>">
			Exercise Name: <%= collection_select :exercise, :name, @exercises, :name, :name, class:'form-control' %>
		</div>



		<%= f.hidden_field :workout_id, value: workout.id %>
		<%= f.submit  %>

<% end %>
